{
  "openapi": "3.1.0",
  "info": {
    "title": "SGS LAND Real Estate API",
    "description": "API công khai của SGS LAND — nền tảng công nghệ BĐS AI hàng đầu Việt Nam. Cung cấp dữ liệu listing, dự án, định giá AI và chỉ số giá thị trường cho TP.HCM, Đồng Nai, Bình Dương.",
    "version": "1.0.0",
    "contact": { "name": "SGS LAND", "url": "https://sgsland.vn", "email": "info@sgsland.vn" }
  },
  "servers": [{ "url": "https://sgsland.vn/api/public", "description": "Production API" }],
  "paths": {
    "/listings": {
      "get": {
        "operationId": "searchListings",
        "summary": "Tìm kiếm listing BĐS",
        "description": "Tìm kiếm 45.000+ listing BĐS tại TP.HCM, Đồng Nai, Bình Dương. Filter theo vị trí, loại hình, giá, diện tích.",
        "parameters": [
          { "name": "location", "in": "query", "description": "Tên quận/huyện hoặc dự án (vd: Thu Duc, Long Thanh, Aqua City)", "schema": { "type": "string" } },
          { "name": "type", "in": "query", "description": "Loại hình BĐS: APARTMENT|TOWNHOUSE|VILLA|LAND|SHOPHOUSE", "schema": { "type": "string", "enum": ["APARTMENT","TOWNHOUSE","VILLA","LAND","SHOPHOUSE"] } },
          { "name": "minPrice", "in": "query", "description": "Giá tối thiểu (tỷ VNĐ)", "schema": { "type": "number" } },
          { "name": "maxPrice", "in": "query", "description": "Giá tối đa (tỷ VNĐ)", "schema": { "type": "number" } },
          { "name": "limit", "in": "query", "description": "Số kết quả trả về (mặc định 20, tối đa 100)", "schema": { "type": "integer", "default": 20, "maximum": 100 } }
        ],
        "responses": { "200": { "description": "Danh sách listing BĐS phù hợp" } }
      }
    },
    "/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "Danh sách tất cả dự án BĐS SGS LAND phân phối",
        "responses": { "200": { "description": "Danh sách 13+ dự án lớn với thông tin chi tiết" } }
      }
    },
    "/projects/featured": {
      "get": {
        "operationId": "getFeaturedProjects",
        "summary": "Dự án BĐS nổi bật được SGS LAND curate",
        "responses": { "200": { "description": "Top 5-10 dự án nổi bật nhất" } }
      }
    },
    "/project-feed": {
      "get": {
        "operationId": "getProjectFeed",
        "summary": "GEO entity feed — JSON-LD schema.org cho tất cả dự án",
        "description": "Dành cho AI crawler và search engines. Trả về JSON-LD schema.org cho 13+ dự án lớn.",
        "responses": { "200": { "description": "JSON-LD entity catalog" } }
      }
    }
  },
  "components": {
    "schemas": {
      "Listing": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "type": { "type": "string", "enum": ["APARTMENT","TOWNHOUSE","VILLA","LAND","SHOPHOUSE"] },
          "price": { "type": "number", "description": "Giá (tỷ VNĐ)" },
          "area": { "type": "number", "description": "Diện tích (m²)" },
          "location": { "type": "string" },
          "legal_status": { "type": "string", "enum": ["GREEN","YELLOW","RED"] },
          "project": { "type": "string" }
        }
      }
    }
  }
}
